.container {
    justify-content: center;
    display: flex;
}


.traffic-container {
    background-color: black;
    border-radius: 7px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
